<h1>Admin Dashboard</h1>

<% @courses.each do |course| %>
  <h3><%= link_to course.title, teacher_course_path(course) %> <h5 class="h5">Students Enrolled: <strong><%= course.enrollments.count %></strong> &middot; Class GPA: <strong><%= course.class_gpa %></strong></h5></h3>
<% end %>