<br />
<div class="row">
  <div class="medium-6 large-offset-3 columns">
    <div class="card">
      <div class="card-section">
        <h4>Add a New Course</h4>
        <%= simple_form_for @course, url: teacher_courses_path do |f| %>
          <%= f.input :title %>
          <br />
          <%= f.input :description %>
          <br />
          
          <%= f.submit "Create Course", class: 'button expanded' %>
        <% end %>
      </div>
    </div>
  </div>
</div>