<h1>My Dashboard</h1>

<% current_user.enrollments.each do |enrollment| %>
  <h4><%= enrollment.course.title %> Grade: <%= enrollment.grade %></h4>
  <hr />
<% end %>

<h1>What I'm Teaching</h1>
<% current_user.courses.each do |course| %>
  <h3 class="text-center">
    <%= link_to course.title, teacher_course_path(course) %>
  </h3>
<% end %>