<br />
<h1 class="text-center">Enroll in a Course</h1>
<br />
<div class="row">
  <div class="small-12 medium-10 large-offset-1 columns">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="small-12 medium-6 columns">
          <div class="card">
            <div class="card-section text-center">
              <h3><%= course.title %></h3>
              <p><%= course.description %></p>
              <% if current_user && current_user.enrolled_in?(course) %>
                <h3 class="success label">You Are Enrolled!</h3>
              <% else %>
                <%= link_to 'Enroll', course_enrollments_path(course), class: 'button expanded', method: :post %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>