<br />
<div class="row">
  <div class="medium-10 large-offset-1 columns">
    <h1 class="text-center">Enroll in a Course</h1>

    <% @courses.each do |course| %>
      <div class="card">
        <div class="card-section">
          <h2><%= course.title %></h2>
          <p><%= course.description %></p>
          <% if current_user && current_user.enrolled_in?(course) %>
            <h3 class="success label">You Are Enrolled!</h3>
          <% else %>
            <%= link_to 'Enroll', course_enrollments_path(course), class: 'button', method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>